@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

.pottery__piece {
	background-color: paleturquoise;
	border: 2px solid gray;
	color: gray;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 20px;
	text-align: center;
}

.pottery--shape {
	background-color: lightgrey;
	font-size: larger;
	font-weight: bolder;
	padding: 10px;
	text-transform: capitalize;
}